{
  "openapi": "3.1.0",
  "info": {
    "title": "Opedd API",
    "version": "1.0.0",
    "description": "# Welcome to the Opedd API\n\nOpedd is the licensing infrastructure for the open web \u2014 the **Stripe of content licensing**. Publishers register their content, set prices, and get paid. AI companies, researchers, and platforms purchase rights programmatically, get a license key, and can prove compliance on-chain.\n\nEvery license issued through Opedd is:\n- Recorded in our immutable ledger\n- Registered on-chain (Tempo primary, Base fallback) for cryptographic proof\n- Confirmed via a Handshake Email to the buyer\n\n---\n\n## Quick start \u2014 Publisher API (3 steps)\n\n**Step 1 \u2014 Get your API key**\n\nLog in to your Opedd dashboard \u2192 Settings \u2192 API. Your key looks like `op_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`.\n\n**Step 2 \u2014 Make your first request**\n\n```bash\ncurl https://api.opedd.com/api?action=articles \\\n  -H \"X-API-Key: op_your_key_here\"\n```\n\n**Step 3 \u2014 Issue your first license**\n\n```bash\ncurl -X POST \"https://api.opedd.com/api?action=purchase\" \\\n  -H \"X-API-Key: op_your_key_here\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"article_id\": \"<uuid>\", \"license_type\": \"ai\", \"buyer_email\": \"buyer@example.com\"}'\n```\n\n---\n\n## Quick start \u2014 Enterprise / AI Lab (4 steps)\n\nSee the **Enterprise** section below for the full integration guide. Here's the summary:\n\n**Step 1 \u2014 Get a sandbox token (free, no payment)**\n\n```bash\ncurl -X POST https://api.opedd.com/enterprise-auth \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"action\": \"create_sandbox\", \"buyer_email\": \"eng@yourlab.com\", \"buyer_org\": \"Your AI Lab\"}'\n```\n\n**Step 2 \u2014 Browse the publisher catalog**\n\n```bash\ncurl https://api.opedd.com/publisher-directory?min_articles=1\n```\n\n**Step 3 \u2014 Preview content (truncated in sandbox)**\n\n```bash\ncurl https://api.opedd.com/content-delivery?article_id=<uuid> \\\n  -H \"Authorization: Bearer eat_sandbox_xxx\"\n```\n\n**Step 4 \u2014 Purchase a license**\n\n```bash\ncurl -X POST https://api.opedd.com/enterprise-license \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"publisher_ids\": [\"<uuid>\"], \"buyer_email\": \"eng@yourlab.com\", \"billing_type\": \"monthly\", \"license_tier\": \"rag\"}'\n```\n\n---\n\n## Authentication\n\n**Publisher endpoints** require your API key:\n```\nX-API-Key: op_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n```\n\n**Enterprise endpoints** use access keys and bearer tokens:\n```\n# Step 1: Exchange access key for token\nPOST /enterprise-auth { access_key: \"eak_xxx\", buyer_email: \"...\" }\n\n# Step 2: Use token for content delivery\nAuthorization: Bearer eat_xxx\n```\n\n**Public endpoints** (no auth): `verify-license`, `registry`, `lookup-article`, `publisher-directory`, `certificate`, `invoice`, `license-discovery`, `llms-txt`.\n\n---\n\n## Base URL\n\n```\nhttps://api.opedd.com\n```\n\n---\n\n## Rate limits\n\n| Endpoint | Limit |\n|---|---|\n| Publisher API (purchase) | 30/hr |\n| Publisher API (batch) | 10/hr |\n| Agent purchase | 10/hr per buyer_email |\n| Enterprise content feed | 360/min per access_key |\n| Content delivery | 200/min per token |\n| Enterprise auth | 5/hr per access_key |\n| Sandbox creation | 3/day per email |\n\n---\n\n## Error format\n\n```json\n{\"success\": false, \"error\": \"A human-readable description\"}\n```\n\n| Status | Meaning |\n|---|---|\n| `400` | Bad request \u2014 missing or invalid parameter |\n| `401` | Unauthorized \u2014 invalid or missing credentials |\n| `402` | Payment failed |\n| `403` | Forbidden \u2014 license doesn't cover this content |\n| `404` | Not found |\n| `422` | Unprocessable \u2014 publishers haven't opted into this tier |\n| `429` | Rate limit exceeded |\n| `500` | Internal server error |\n| `502` | Upstream error (Stripe) |\n\n---\n\n## License types\n\n| Type | Label | Use case |\n|---|---|---|\n| `human` | Human Republication | Journalists, researchers, editorial reuse |\n| `ai` | AI Training | Training datasets, fine-tuning, model pretraining |\n| `ai_inference` | AI Inference | RAG pipelines, retrieval-augmented generation |\n| `archive` | Archive License | Full catalog access for a publisher's entire library |\n| `syndication` | Syndication | Editorial republication across media networks |\n\n---\n\n## Enterprise license tiers\n\n| Tier | Covers |\n|---|---|\n| `rag` | Retrieval-augmented generation (default) |\n| `training` | Model fine-tuning and pretraining |\n| `inference` | Real-time AI inference outputs |\n| `full_ai` | All AI use cases (rag + training + inference) |\n\nPublishers opt into tiers individually. When purchasing, if a publisher hasn't opted into your requested tier, they're excluded from the license.\n\n---\n\n## Billing types\n\n| Type | Interval | Use case |\n|---|---|---|\n| `annual` | Yearly | Archive + forward feed bundled (default) |\n| `monthly` | Monthly | Forward feed only (new content, price = annual/12) |\n| `annual_plus_monthly` | Year + Month | Archive upfront + monthly forward feed |\n\n---\n\n## On-chain proof\n\nLicenses are registered on the **OpeddRegistry** smart contract:\n- **Primary:** Tempo (Stripe + Paradigm L1) \u2014 `0xf2cb1347de16c362eb67549dc1521fc8ab2f8d6d`\n- **Fallback:** Base (Coinbase L2) \u2014 `0x0ca09c63cd768490dad1734594c0ee3bfd3cce55`\n\nRegistration is non-blocking \u2014 your API call returns immediately. Track `blockchain_status`: `pending \u2192 submitted \u2192 confirmed`.\n\n---\n\nQuestions? Reach us at [opedd.com](https://opedd.com).",
    "contact": {
      "name": "Opedd Support",
      "url": "https://opedd.com"
    }
  },
  "servers": [
    {
      "url": "https://api.opedd.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "## \ud83d\udcc4 Content\n\nDiscover and browse the articles registered under your publisher account. These endpoints let you list your catalog, get details on a specific article, or look up any article by its URL \u2014 useful for checking whether a piece of content has a license available before attempting a purchase.\n\nArticles are registered automatically when a buyer uses the Opedd widget on your site, or you can import them in bulk from your sitemap via the dashboard."
    },
    {
      "name": "Licenses",
      "description": "## \ud83d\udd11 Licenses\n\nThe core of the Opedd API. Use these endpoints to issue licenses programmatically \u2014 one at a time or in bulk \u2014 and to verify that a license key is valid.\n\nEvery issued license:\n- Gets a unique `OP-XXXX-XXXX` key\n- Triggers a **Handshake Email** to the buyer with the certificate\n- Is registered on-chain on Base (non-blocking)\n- Is logged in the immutable event ledger\n\nVerification is **public** \u2014 anyone can verify a license key without an API key."
    },
    {
      "name": "Registry",
      "description": "## \u26d3\ufe0f Registry of Proof\n\nThe public Registry of Proof is a tamper-evident, on-chain verified record of every license ever issued through Opedd. It's fully public \u2014 no API key needed.\n\nYou can filter by license key, article, or publisher. Think of it as a public ledger \u2014 an AI company can point to a Registry entry as proof they have the rights to use a piece of content."
    },
    {
      "name": "Agent",
      "description": "## \ud83e\udd16 Agent Endpoints\n\nBuilt specifically for AI agents and automated pipelines. No pre-authorization, no redirects, no browser required.\n\nThe `agent-purchase` endpoint accepts a Stripe payment method ID or a USDC on-chain transaction hash and returns a license key immediately. The `license-discovery` endpoint provides a machine-readable `opedd.json` file that agents can fetch to understand what's available for licensing from any publisher."
    },
    {
      "name": "Publisher",
      "description": "## \u2699\ufe0f Publisher Tools\n\nUtility endpoints for publishers. Check your API usage and revenue stats, generate AI crawler blocking policies, and embed the Opedd widget on your site."
    },
    {
      "name": "Enterprise",
      "description": "## \ud83c\udfe2 Enterprise Integration Guide\n\nFor AI companies and organizations that need bulk access to publisher catalogs.\n\n\u2705 Browse the full publisher catalog with pricing \u2014 no account needed\n\ud83d\udd0d Preview content in sandbox mode \u2014 free, no payment required\n\ud83d\udcb3 Purchase via Stripe \u2014 annual, monthly, or bundled\n\ud83d\udce6 Stream full content via API \u2014 JSON or RSS feed\n\ud83d\udd14 Get webhooks when publishers post new articles\n\u26d3\ufe0f Every license registered on-chain for proof of compliance\n\n---\n\n### Architecture\n\n```\nYour AI Lab                    Opedd                         Publishers\n\u2502                               \u2502                              \u2502\n\u251c\u2500 POST /enterprise-auth \u2500\u2500\u2500\u2500\u2500\u25b6 Sandbox token (free)          \u2502\n\u251c\u2500 GET /publisher-directory \u2500\u25b6 Browse catalog + pricing      \u2502\n\u251c\u2500 GET /content-delivery \u2500\u2500\u2500\u25b6 Preview content (truncated)   \u2502\n\u2502                               \u2502                              \u2502\n\u251c\u2500 POST /enterprise-license \u2500\u25b6 Stripe subscription created   \u2502\n\u251c\u2500 Complete payment (Stripe) \u2500\u25b6 License activated (eak_)      \u2502\n\u251c\u2500 POST /enterprise-auth \u2500\u2500\u2500\u2500\u25b6 Bearer token (eat_, 30-day)   \u2502\n\u251c\u2500 GET /content-delivery \u2500\u2500\u2500\u25b6 Full article content          \u2502\n\u251c\u2500 GET /enterprise-license \u2500\u2500\u25b6 Paginated feed (JSON/XML)     \u2502\n\u2502                               \u2502                              \u2502\n\u2502                               \u251c\u2500 Monthly payouts (1st) \u2500\u2500\u2500\u2500\u25b6 80% via Stripe Connect\n\u2502                               \u251c\u2500 Webhooks \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u25b6 content.published\n```\n\n---\n\n### \ud83e\uddea Step 1: Get a sandbox token\n\nNo payment required. Get a free evaluation token to browse the catalog and preview content.\n\n```bash\ncurl -X POST https://api.opedd.com/enterprise-auth \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"action\": \"create_sandbox\", \"buyer_email\": \"eng@yourlab.com\", \"buyer_org\": \"Your Lab\"}'\n```\n\nResponse:\n```json\n{\"success\": true, \"data\": {\n  \"sandbox_token\": \"eat_sandbox_abc123...\",\n  \"mode\": \"sandbox\",\n  \"expires_at\": \"2026-04-26T00:00:00Z\"\n}}\n```\n\nSandbox grants: full publisher-directory access, truncated content (first 500 chars), metadata-only feeds. Rate limit: 3 tokens/day per email.\n\n---\n\n### \ud83d\udcda Step 2: Browse the publisher catalog\n\n```bash\ncurl \"https://api.opedd.com/publisher-directory?min_articles=10&category=finance\"\n```\n\nResponse includes per-publisher pricing:\n```json\n{\"publishers\": [{\n  \"id\": \"uuid\",\n  \"name\": \"FinanceWeekly\",\n  \"article_count\": 450,\n  \"pricing\": {\n    \"human_per_article\": 5,\n    \"ai_per_article\": 25,\n    \"ai_annual\": 12000,\n    \"forward_feed_monthly\": 1000\n  },\n  \"sample_articles\": [{\"title\": \"...\", \"url\": \"...\"}]\n}]}\n```\n\nPricing is set by publishers. `ai_annual` = full catalog (archive + forward feed) per year. `forward_feed_monthly` = new content only, auto-derived as `ai_annual / 12`.\n\n---\n\n### \ud83d\udd0d Step 3: Preview content in sandbox\n\n```bash\ncurl \"https://api.opedd.com/content-delivery?article_id=<uuid>\" \\\n  -H \"Authorization: Bearer eat_sandbox_abc123...\"\n```\n\nSandbox returns truncated content (first 500 characters). Full content requires a paid license.\n\n---\n\n### \ud83d\udcb3 Step 4: Purchase a license\n\nChoose your billing type and license tier:\n\n```bash\ncurl -X POST https://api.opedd.com/enterprise-license \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"publisher_ids\": [\"<pub-uuid-1>\", \"<pub-uuid-2>\"],\n    \"buyer_email\": \"eng@yourlab.com\",\n    \"buyer_org\": \"Your Lab\",\n    \"billing_type\": \"annual\",\n    \"license_tier\": \"rag\",\n    \"duration_months\": 12\n  }'\n```\n\nReturns a Stripe `client_secret` for payment completion. After payment, Opedd activates the license and sends an `eak_` access key to your email.\n\n---\n\n### \ud83d\udd13 Step 5: Authenticate and access content\n\nExchange your access key for a bearer token:\n\n```bash\ncurl -X POST https://api.opedd.com/enterprise-auth \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"access_key\": \"eak_xxx\", \"buyer_email\": \"eng@yourlab.com\"}'\n```\n\nThen fetch full content:\n\n```bash\ncurl \"https://api.opedd.com/content-delivery?article_id=<uuid>\" \\\n  -H \"Authorization: Bearer eat_xxx\"\n```\n\nOr sync your full licensed catalog:\n\n```bash\ncurl \"https://api.opedd.com/enterprise-license?access_key=eak_xxx&limit=200\"\n```\n\nSupports JSON and XML (RSS 2.0) via `&format=xml`. Cursor-based pagination.\n\n---\n\n### \ud83d\udc0d Python example\n\n```python\nimport requests\n\nBASE = \"https://api.opedd.com\"\n\n# Get sandbox token\nresp = requests.post(f\"{BASE}/enterprise-auth\", json={\n    \"action\": \"create_sandbox\",\n    \"buyer_email\": \"eng@yourlab.com\",\n    \"buyer_org\": \"Your Lab\"\n})\ntoken = resp.json()[\"data\"][\"sandbox_token\"]\n\n# Browse publishers\npubs = requests.get(f\"{BASE}/publisher-directory\", params={\"min_articles\": 10}).json()\nfor p in pubs[\"data\"][\"publishers\"]:\n    print(f\"{p['name']}: {p['article_count']} articles, ${p['pricing']['ai_annual']}/yr\")\n\n# Preview an article\narticle = requests.get(\n    f\"{BASE}/content-delivery\",\n    params={\"article_id\": pubs[\"data\"][\"publishers\"][0][\"sample_articles\"][0][\"id\"]},\n    headers={\"Authorization\": f\"Bearer {token}\"}\n).json()\nprint(article[\"data\"][\"title\"], article[\"data\"][\"content\"][:200])\n```\n\n---\n\n### \ud83d\udfe2 Node.js example\n\n```javascript\nconst BASE = 'https://api.opedd.com';\n\n// Get sandbox token\nconst auth = await fetch(`${BASE}/enterprise-auth`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ action: 'create_sandbox', buyer_email: 'eng@yourlab.com', buyer_org: 'Your Lab' })\n}).then(r => r.json());\nconst token = auth.data.sandbox_token;\n\n// Browse catalog\nconst pubs = await fetch(`${BASE}/publisher-directory?min_articles=10`).then(r => r.json());\nconsole.log(`${pubs.data.publishers.length} publishers available`);\n\n// Preview content\nconst article = await fetch(`${BASE}/content-delivery?article_id=${articleId}`, {\n  headers: { Authorization: `Bearer ${token}` }\n}).then(r => r.json());\nconsole.log(article.data.title, article.data.sandbox ? '(preview)' : '(full)');\n```\n\n---\n\n### \ud83d\udd14 Webhooks\n\nEnterprise licenses can receive `content.published` webhooks when covered publishers post new articles. Provide a `buyer_webhook_url` when creating the license. Payloads are HMAC-SHA256 signed (secret returned once at creation).\n\n---\n\n### \ud83d\udcb0 Revenue model\n\n- **20% Opedd platform fee**, 80% to publishers\n- Payouts distributed monthly (1st of each month) via Stripe Connect\n- Pro-rata by article volume: publishers who publish more earn more\n- Minimum payout: $0.50"
    },
    {
      "name": "Content Delivery",
      "description": "## \ud83d\udce6 Content Delivery\n\nStream full article content to licensed buyers. Accepts three token types:\n\n| Token prefix | Source | Content access |\n|---|---|---|\n| `eat_sandbox_` | Sandbox (free) | Truncated (first 500 chars) |\n| `eat_` | Enterprise auth | Full content |\n| `bk_live_` | Buyer portal | Full content |\n\nReturns full HTML body when available, or `content_available: false` with metadata when the publisher hasn't pushed content yet.\n\nRate limit: 200 req/min per token."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your publisher API key. Generate one in your Opedd dashboard under **Settings \u2192 API**. Keys are prefixed with `op_` and are 35 characters long.\n\n> \u26a0\ufe0f Keep your API key secret. It has full access to your publisher account. Never expose it in client-side code or public repositories."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Invalid API key"
          }
        }
      },
      "ArticleSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "example": "The Future of AI in Newsrooms"
          },
          "description": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "example": "https://publisher.com/articles/ai-newsrooms"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "human": {
                "nullable": true,
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number",
                    "example": 10.0
                  },
                  "currency": {
                    "type": "string",
                    "example": "usd"
                  }
                }
              },
              "ai": {
                "nullable": true,
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number",
                    "example": 50.0
                  },
                  "currency": {
                    "type": "string",
                    "example": "usd"
                  }
                }
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "human_licenses_sold": {
                "type": "integer",
                "example": 3
              },
              "ai_licenses_sold": {
                "type": "integer",
                "example": 12
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LicenseKey": {
        "type": "string",
        "pattern": "^OP-[A-Z0-9]{4}-[A-Z0-9]{4}$",
        "example": "OP-A1B2-C3D4"
      },
      "LicenseType": {
        "type": "string",
        "enum": [
          "human",
          "ai",
          "ai_inference"
        ],
        "description": "`human` \u2014 republication rights for journalists and researchers. `ai` \u2014 training dataset use for model pretraining or fine-tuning. `ai_inference` \u2014 RAG and retrieval-augmented generation, where content is retrieved at inference time."
      },
      "IntendedUse": {
        "type": "string",
        "enum": [
          "personal",
          "editorial",
          "commercial",
          "ai_training",
          "corporate"
        ],
        "description": "How the licensee intends to use the content. Optional but recommended \u2014 it's recorded in the license and shown in the Handshake Email to the buyer."
      },
      "IssuedLicense": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/components/schemas/LicenseKey"
          },
          "type": {
            "$ref": "#/components/schemas/LicenseType"
          },
          "type_label": {
            "type": "string",
            "example": "AI Training"
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "amount": {
            "type": "number",
            "example": 50.0
          },
          "currency": {
            "type": "string",
            "example": "usd"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": "Missing or invalid API key. Use X-API-Key header with your op_ key."
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": "Article not found"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded \u2014 check `Retry-After` header for when to retry",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Max requests in window"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Requests remaining"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp of window reset"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until you can retry"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": "Rate limit exceeded. Max 30 purchases per hour."
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api": {
      "get": {
        "operationId": "listArticles",
        "tags": [
          "Content"
        ],
        "summary": "List articles",
        "description": "Returns all licensable articles registered under your publisher account, ordered by creation date (newest first). Each article includes its current pricing for both human and AI licenses, plus lifetime sales stats.\n\nThis is the right starting point if you're building an integration that needs to browse your catalog \u2014 for example, to let a downstream buyer choose what to license, or to sync your article list to an external system.\n\n**Pagination** \u2014 results are capped at 100 per page. Use `limit` and `offset` to page through large catalogs.\n\n**Filtering by type** \u2014 if you pass `type=ai`, you'll only see articles that have an AI price set. Useful if you're building an AI-specific purchasing flow and don't want to show articles that aren't available for that license type.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "articles"
              ]
            },
            "description": "Must be `articles`"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Number of results per page. Max 100."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Zero-based offset for pagination. To get page 2 with `limit=50`, pass `offset=50`."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "human",
                "ai"
              ]
            },
            "description": "Filter to only articles that have a price set for this license type. Omit to return all articles regardless of pricing."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "articles": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ArticleSummary"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 142,
                          "description": "Total number of licensable articles (ignores pagination)"
                        },
                        "limit": {
                          "type": "integer",
                          "example": 50
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "articles": [
                      {
                        "id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                        "title": "The Future of AI in Newsrooms",
                        "description": "How AI is transforming modern journalism",
                        "source_url": "https://publisher.com/articles/ai-newsrooms",
                        "pricing": {
                          "human": {
                            "price": 10.0,
                            "currency": "usd"
                          },
                          "ai": {
                            "price": 50.0,
                            "currency": "usd"
                          }
                        },
                        "stats": {
                          "human_licenses_sold": 3,
                          "ai_licenses_sold": 12
                        },
                        "created_at": "2026-01-15T10:30:00Z"
                      }
                    ],
                    "total": 142,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api#article": {
      "get": {
        "operationId": "getArticle",
        "tags": [
          "Content"
        ],
        "summary": "Get article",
        "description": "Fetch full details for a single article by its UUID \u2014 including pricing, lifetime revenue, total licenses sold, and the 10 most recent licenses issued for it (anonymized to name/org).\n\nThis is useful for building a **license history view** or for verifying an article's current pricing before issuing a license programmatically.\n\n> \ud83d\udca1 You can get an article's UUID from the `list articles` response, or from your Opedd dashboard by clicking into any article.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "article"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the article. You can find this in the list articles response or in your dashboard."
          }
        ],
        "responses": {
          "200": {
            "description": "Full article details with recent license activity",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "article": {
                      "id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                      "title": "The Future of AI in Newsrooms",
                      "description": "How AI is transforming modern journalism",
                      "source_url": "https://publisher.com/articles/ai-newsrooms",
                      "licensing_enabled": true,
                      "pricing": {
                        "human": {
                          "price": 10.0,
                          "currency": "usd"
                        },
                        "ai": {
                          "price": 50.0,
                          "currency": "usd"
                        }
                      },
                      "stats": {
                        "human_licenses_sold": 3,
                        "ai_licenses_sold": 12,
                        "total_revenue": 630.0
                      },
                      "created_at": "2026-01-15T10:30:00Z"
                    },
                    "recent_licenses": [
                      {
                        "key": "OP-A1B2-C3D4",
                        "type": "ai",
                        "amount": 50.0,
                        "licensee": "Acme AI Corp",
                        "issued_at": "2026-03-01T14:22:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api#purchase": {
      "post": {
        "operationId": "purchaseLicense",
        "tags": [
          "Licenses"
        ],
        "summary": "Purchase a license",
        "description": "Issues a single license for one article. This is the core of the Opedd API.\n\nWhen you call this endpoint:\n1. A unique `OP-XXXX-XXXX` license key is generated and recorded in the immutable ledger\n2. The buyer receives a **Handshake Email** with their license certificate and a verification link\n3. The license is registered on the Base blockchain (non-blocking \u2014 your response comes back immediately)\n4. Your publisher webhook fires with a `license.issued` event (if configured)\n\nThis endpoint is intended for **publisher-initiated** workflows \u2014 for example, you've already collected payment via your own checkout and now want to issue a license. If you need the buyer to pay directly, use the Opedd checkout flow or the `agent-purchase` endpoint instead.\n\n**Choosing a license type:**\n- Use `human` for journalists, academics, or anyone republishing the article\n- Use `ai` for companies adding content to a training dataset\n- Use `ai_inference` for RAG pipelines and retrieval systems that query content at runtime\n\n> \u26a0\ufe0f The article must belong to your publisher account (matched by API key). Attempting to issue a license for another publisher's article will return a `404`.\n\n**Rate limit:** 30 purchases per API key per hour.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "purchase"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "article_id",
                  "license_type",
                  "buyer_email"
                ],
                "properties": {
                  "article_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the article to license. Must be owned by the API key's publisher account."
                  },
                  "license_type": {
                    "$ref": "#/components/schemas/LicenseType"
                  },
                  "buyer_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The buyer's email. They'll receive a Handshake Email with their license key, certificate PDF, and a link to verify on-chain."
                  },
                  "buyer_name": {
                    "type": "string",
                    "description": "Full name of the licensee. Included in the certificate and Handshake Email."
                  },
                  "buyer_organization": {
                    "type": "string",
                    "description": "The organization the license is issued to (e.g. `Acme AI Corp`). Shown in the certificate."
                  },
                  "intended_use": {
                    "$ref": "#/components/schemas/IntendedUse"
                  }
                }
              },
              "example": {
                "article_id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                "license_type": "ai",
                "buyer_email": "licensing@acmecorp.com",
                "buyer_name": "Jane Smith",
                "buyer_organization": "Acme AI Corp",
                "intended_use": "ai_training"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "License issued \u2014 the buyer has been emailed their key",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "license": {
                      "key": "OP-A1B2-C3D4",
                      "type": "ai",
                      "type_label": "AI Training",
                      "status": "completed",
                      "amount": 50.0,
                      "currency": "usd",
                      "issued_at": "2026-03-06T12:00:00Z"
                    },
                    "content": {
                      "id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                      "title": "The Future of AI in Newsrooms",
                      "source_url": "https://publisher.com/articles/ai-newsrooms"
                    },
                    "licensee": {
                      "email": "licensing@acmecorp.com",
                      "name": "Jane Smith",
                      "organization": "Acme AI Corp",
                      "intended_use": "ai_training"
                    },
                    "verify_url": "https://opedd.com/verify/OP-A1B2-C3D4",
                    "email_sent": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Licensing not enabled for this article",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Licensing not enabled for this article"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api#batch_purchase": {
      "post": {
        "operationId": "batchPurchase",
        "tags": [
          "Licenses"
        ],
        "summary": "Batch purchase licenses",
        "description": "Purchase licenses for up to **50 articles in a single request**. All items share the same buyer details and intended use. Perfect for AI companies that want to license a curated dataset in one shot.\n\nHere's what happens under the hood:\n1. All articles are validated upfront \u2014 if any are invalid, the entire request is rejected with a clear error message\n2. Each license is issued, registered on-chain, and logged individually\n3. A single consolidated email is sent to `buyer_email` with a table of all license keys\n4. Your publisher webhook fires once per issued license\n\n**Partial failures** \u2014 if individual items fail after the batch has been accepted (rare \u2014 e.g. a key generation collision), those items will have an `error` field instead of a `license_key` in the response. The `summary` object tells you exactly how many succeeded.\n\n> \ud83d\udca1 Need more than 50? Split your items into multiple batch requests. The rate limit is 30 batch requests per hour, so you can process up to 500 articles per hour.\n\n**Rate limit:** 30 batch requests per API key per hour.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "batch_purchase"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items",
                  "buyer_email"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 50,
                    "description": "Array of articles to license. Each item needs an `article_id` and a `license_type`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "article_id",
                        "license_type"
                      ],
                      "properties": {
                        "article_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "license_type": {
                          "$ref": "#/components/schemas/LicenseType"
                        }
                      }
                    }
                  },
                  "buyer_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email to receive the batch license summary with all keys in a single email."
                  },
                  "buyer_name": {
                    "type": "string"
                  },
                  "buyer_organization": {
                    "type": "string"
                  },
                  "intended_use": {
                    "$ref": "#/components/schemas/IntendedUse"
                  }
                }
              },
              "example": {
                "items": [
                  {
                    "article_id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                    "license_type": "ai"
                  },
                  {
                    "article_id": "d52482d3-953e-5cd2-bde1-51577be45f00",
                    "license_type": "ai"
                  }
                ],
                "buyer_email": "licensing@acmecorp.com",
                "buyer_organization": "Acme AI Corp",
                "intended_use": "ai_training"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch processed \u2014 check `summary.failed` for any partial failures",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "summary": {
                      "total_requested": 2,
                      "issued": 2,
                      "failed": 0,
                      "total_amount": 100.0,
                      "currency": "usd"
                    },
                    "licenses": [
                      {
                        "article_id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                        "title": "The Future of AI in Newsrooms",
                        "license_key": "OP-A1B2-C3D4",
                        "license_type": "ai",
                        "amount": 50.0
                      },
                      {
                        "article_id": "d52482d3-953e-5cd2-bde1-51577be45f00",
                        "title": "Generative Models Explained",
                        "license_key": "OP-E5F6-G7H8",
                        "license_type": "ai",
                        "amount": 50.0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api#verify": {
      "get": {
        "operationId": "verifyLicense",
        "tags": [
          "Licenses"
        ],
        "summary": "Verify a license",
        "description": "Verify that a license key is valid and retrieve its full details \u2014 including what article it covers, who it was issued to, and its on-chain proof. **This endpoint is public \u2014 no API key needed.**\n\nThis is the endpoint your compliance team, legal team, or automated pipeline should hit to confirm that a piece of content was properly licensed.\n\n**What `valid: true` means:**\n- The license key exists in the Opedd ledger\n- The transaction has `status: completed`\n- It has not been revoked\n\n**Blockchain proof** \u2014 for every license, the response includes a `blockchain_proof` object showing whether it's been registered on Base and a link to the transaction on BaseScan.\n\n**Machine-readable data** \u2014 for `ai` and `ai_inference` licenses, the response includes a `machine_readable` JSON-LD object. This is designed to be embedded in dataset cards, model cards, or compliance reports as structured proof of licensing.\n\n```bash\n# Anyone can verify \u2014 no API key needed\ncurl \"https://api.opedd.com/api?action=verify&key=OP-A1B2-C3D4\"\n```",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "verify"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LicenseKey"
            },
            "description": "The license key to verify, in `OP-XXXX-XXXX` format."
          }
        ],
        "responses": {
          "200": {
            "description": "License details and proof",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "valid": true,
                    "license": {
                      "key": "OP-A1B2-C3D4",
                      "type": "ai",
                      "type_label": "AI Training",
                      "status": "completed",
                      "intended_use": "ai_training",
                      "amount": 50.0,
                      "currency": "usd",
                      "issued_at": "2026-03-06T12:00:00Z"
                    },
                    "content": {
                      "title": "The Future of AI in Newsrooms",
                      "source_url": "https://publisher.com/articles/ai-newsrooms",
                      "publisher": "The Daily Record"
                    },
                    "licensee": {
                      "name": "Jane Smith",
                      "organization": "Acme AI Corp"
                    },
                    "blockchain_proof": {
                      "registered": true,
                      "valid": true,
                      "chain": "base-mainnet",
                      "contract": "0x0ca09c63cd768490dad1734594c0ee3bfd3cce55",
                      "explorer_url": "https://basescan.org/tx/0xabc123..."
                    },
                    "machine_readable": {
                      "@context": "https://opedd.com/schema/v1",
                      "protocol": "opedd",
                      "version": "1.0",
                      "license_id": "OP-A1B2-C3D4",
                      "license_type": "ai_training",
                      "content_title": "The Future of AI in Newsrooms",
                      "content_url": "https://publisher.com/articles/ai-newsrooms",
                      "publisher": "The Daily Record",
                      "licensee_organization": "Acme AI Corp",
                      "issued_at": "2026-03-06T12:00:00Z",
                      "status": "completed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api#usage": {
      "get": {
        "operationId": "getUsage",
        "tags": [
          "Publisher"
        ],
        "summary": "Usage stats",
        "description": "Returns a snapshot of your publisher account \u2014 total articles, active licenses, revenue, and how many events have fired in the last 24 hours.\n\nUseful for building internal dashboards or monitoring integrations. You can poll this endpoint to track revenue in real time.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usage"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account usage snapshot",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "publisher": {
                      "name": "The Daily Record"
                    },
                    "content": {
                      "total_articles": 816,
                      "licensed_articles": 802
                    },
                    "transactions": {
                      "total": 247,
                      "completed": 241,
                      "via_api": 58,
                      "total_revenue": 12050.0,
                      "currency": "usd"
                    },
                    "activity": {
                      "events_last_24h": 14
                    },
                    "rate_limits": {
                      "purchases_per_hour": 30
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lookup-article": {
      "get": {
        "operationId": "lookupArticle",
        "tags": [
          "Content"
        ],
        "summary": "Lookup article by URL",
        "description": "Check whether a specific article URL is registered in Opedd and has a license available \u2014 without knowing the article's UUID.\n\nThis is especially useful for browser extensions, AI agents crawling content, or any integration that encounters an article URL in the wild and wants to check if it can be licensed.\n\n**Discovery headers** \u2014 in addition to the JSON body, the response includes HTTP headers for programmatic sniffing:\n\n```\nX-License-Available: true\nX-License-Human-Price: 10\nX-License-AI-Price: 50\nX-License-Protocol: opedd/1.0\nX-License-Purchase-URL: https://opedd.com/buy/c41371c2...\nX-License-API: https://api.opedd.com/agent-purchase\n```\n\nAn AI agent can do a `HEAD` request to any URL and check these headers before deciding whether to proceed with a purchase \u2014 no JSON parsing required.",
        "parameters": [
          {
            "name": "source_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The canonical URL of the article you want to check.",
            "example": "https://publisher.com/articles/ai-newsrooms"
          }
        ],
        "responses": {
          "200": {
            "description": "Article found \u2014 license is available",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                    "title": "The Future of AI in Newsrooms",
                    "source_url": "https://publisher.com/articles/ai-newsrooms",
                    "licensing_enabled": true,
                    "human_price": 10.0,
                    "ai_price": 50.0,
                    "publisher_id": "6973a2e9-dee6-4797-a6cb-c927952374e6",
                    "purchase_url": "https://opedd.com/buy/c41371c2-842d-4bc1-acd0-40466ad34e99"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Article not found \u2014 either not registered in Opedd or licensing is disabled"
          }
        }
      }
    },
    "/agent-purchase": {
      "post": {
        "operationId": "agentPurchase",
        "tags": [
          "Agent"
        ],
        "summary": "Agentic license purchase",
        "description": "Purchase a license directly from an AI agent \u2014 no pre-authorization, no browser redirect, no human in the loop.\n\nThis endpoint is the backbone of Opedd's agentic licensing protocol. An AI agent can discover content via `lookup-article` or `license-discovery`, then call this endpoint with a payment method to get a license key in a single round-trip.\n\n**Supported payment methods:**\n\n**Stripe (`stripe_pm`)** \u2014 provide a `pm_...` payment method ID. The payment method must already exist in Stripe (e.g. saved to a customer). Opedd charges it, confirms the payment, and issues the license immediately.\n\n**USDC (`usdc`)** \u2014 provide the hash of a completed USDC transfer on Base. Opedd reads the chain to verify the transfer amount and recipient before issuing. No double-spending: each `tx_hash` can only be used once.\n\n**Finding the article** \u2014 you can provide either `article_id` (UUID) or `article_url` (canonical URL). The URL lookup normalizes trailing slashes and `www.` variants automatically.\n\n> \ud83e\udd16 **For MCP users**: if you're using the Opedd MCP server (`opedd-mcp`), this endpoint is called automatically by the `purchase_license` tool. You don't need to call it directly.\n\n**Rate limit:** 10 purchases per `buyer_email` per hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "license_type",
                  "buyer_email",
                  "payment"
                ],
                "properties": {
                  "article_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the article. Either `article_id` or `article_url` is required."
                  },
                  "article_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Canonical URL of the article. Either `article_id` or `article_url` is required."
                  },
                  "license_type": {
                    "$ref": "#/components/schemas/LicenseType"
                  },
                  "buyer_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email for the license certificate. For agents, this is typically the operator's email."
                  },
                  "buyer_name": {
                    "type": "string"
                  },
                  "buyer_organization": {
                    "type": "string"
                  },
                  "intended_use": {
                    "$ref": "#/components/schemas/IntendedUse"
                  },
                  "payment": {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "description": "Payment details. Choose `stripe_pm` for card payments or `usdc` for on-chain.",
                    "oneOf": [
                      {
                        "title": "Stripe payment method",
                        "properties": {
                          "method": {
                            "type": "string",
                            "enum": [
                              "stripe_pm"
                            ]
                          },
                          "payment_method_id": {
                            "type": "string",
                            "description": "A Stripe payment method ID (`pm_...`), already saved in Stripe.",
                            "example": "pm_1ABC..."
                          }
                        },
                        "required": [
                          "method",
                          "payment_method_id"
                        ]
                      },
                      {
                        "title": "USDC on-chain",
                        "properties": {
                          "method": {
                            "type": "string",
                            "enum": [
                              "usdc"
                            ]
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "Transaction hash of a completed USDC transfer to the Opedd platform address on Base.",
                            "example": "0xabc123..."
                          },
                          "chain": {
                            "type": "string",
                            "enum": [
                              "base",
                              "base_sepolia"
                            ],
                            "default": "base",
                            "description": "The chain the USDC transaction was submitted on. Use `base` for production."
                          }
                        },
                        "required": [
                          "method",
                          "tx_hash"
                        ]
                      }
                    ]
                  }
                }
              },
              "examples": {
                "stripe": {
                  "summary": "\ud83d\udcb3 Pay with Stripe",
                  "value": {
                    "article_url": "https://publisher.com/articles/ai-newsrooms",
                    "license_type": "ai",
                    "buyer_email": "agent@acmecorp.com",
                    "buyer_organization": "Acme AI Corp",
                    "intended_use": "ai_training",
                    "payment": {
                      "method": "stripe_pm",
                      "payment_method_id": "pm_1ABC..."
                    }
                  }
                },
                "usdc": {
                  "summary": "\ud83d\udd35 Pay with USDC on Base",
                  "value": {
                    "article_id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                    "license_type": "ai_inference",
                    "buyer_email": "agent@acmecorp.com",
                    "intended_use": "ai_training",
                    "payment": {
                      "method": "usdc",
                      "tx_hash": "0xabc123...",
                      "chain": "base"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "License issued \u2014 key is ready to use",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "license_key": "OP-A1B2-C3D4",
                    "license_type": "ai",
                    "license_type_label": "AI Training",
                    "article": {
                      "id": "c41371c2-842d-4bc1-acd0-40466ad34e99",
                      "title": "The Future of AI in Newsrooms",
                      "source_url": "https://publisher.com/articles/ai-newsrooms"
                    },
                    "amount": 50.0,
                    "currency": "usd",
                    "payment_method": "stripe_pm",
                    "status": "completed",
                    "issued_at": "2026-03-06T12:00:00Z",
                    "verify_url": "https://opedd.com/verify/OP-A1B2-C3D4",
                    "certificate_url": "https://api.opedd.com/certificate?key=OP-A1B2-C3D4"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment failed \u2014 the charge was declined or the USDC transfer couldn't be verified",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Your card was declined. Please use a different payment method."
                }
              }
            }
          },
          "409": {
            "description": "Conflict \u2014 USDC transaction hash already used",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "This USDC transaction has already been used to issue a license"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/registry": {
      "get": {
        "operationId": "browseRegistry",
        "tags": [
          "Registry"
        ],
        "summary": "Browse the Registry of Proof",
        "description": "The Registry of Proof is Opedd's public, append-only record of every license ever issued. It's fully open \u2014 no API key, no account required. **Think of it as a public ledger for content rights.**\n\nEvery entry in the Registry includes the license key, article title, publisher name, licensee organization (if provided), the amount paid, and the on-chain transaction hash once confirmed.\n\n**How to use it:**\n- Query by `license_key` to look up a specific license\n- Query by `article_id` to see all licenses for a particular article\n- Query by `publisher_id` to see all licenses issued for a publisher's content\n- Query with no parameters to get a live global feed of recent licenses\n\nThis endpoint is designed to power compliance dashboards, legal audit trails, and public transparency pages. If an AI company wants to publicly demonstrate they've licensed their training data, the Registry is how they do it.",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LicenseKey"
            },
            "description": "Look up a specific license key."
          },
          {
            "name": "article_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to all licenses for a specific article."
          },
          {
            "name": "publisher_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to all licenses for a specific publisher's content."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry entries",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "records": [
                      {
                        "license_key": "OP-A1B2-C3D4",
                        "license_type": "ai",
                        "article_title": "The Future of AI in Newsrooms",
                        "publisher_name": "The Daily Record",
                        "licensee_organization": "Acme AI Corp",
                        "amount": 50.0,
                        "issued_at": "2026-03-06T12:00:00Z",
                        "blockchain_status": "confirmed",
                        "blockchain_tx_hash": "0xabc123..."
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "offset": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/license-discovery": {
      "get": {
        "operationId": "licenseDiscovery",
        "tags": [
          "Agent"
        ],
        "summary": "License discovery (opedd.json)",
        "description": "Returns a machine-readable `opedd.json` discovery file for a publisher \u2014 analogous to `robots.txt` or `sitemap.xml`, but for licensing.\n\nAI agents and crawlers fetch this file to understand:\n- How much content is available for licensing\n- What the default prices are\n- Which endpoints to use to look up and purchase specific articles\n- Any special instructions the publisher has left for AI systems\n\n**How to serve it on your own domain:**\n\nAdd this to your site's `<head>` or serve it at `/.well-known/opedd.json`:\n\n```html\n<link rel=\"opedd-discovery\"\n  href=\"https://api.opedd.com/license-discovery?publisher_id=YOUR_PUBLISHER_ID\"\n  type=\"application/json\" />\n```\n\nOr redirect `yourdomain.com/.well-known/opedd.json` \u2192 this endpoint.",
        "parameters": [
          {
            "name": "publisher_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Publisher UUID. Use either `publisher_id` or `domain`."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Publisher domain \u2014 e.g. `publisher.com`. Opedd will look up the matching publisher.",
            "example": "publisher.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Machine-readable publisher discovery file",
            "content": {
              "application/json": {
                "example": {
                  "protocol": "opedd",
                  "version": "1.0",
                  "publisher": {
                    "id": "6973a2e9-dee6-4797-a6cb-c927952374e6",
                    "name": "The Daily Record",
                    "website": "https://publisher.com"
                  },
                  "catalog": {
                    "total_articles": 816,
                    "licensed_articles": 802
                  },
                  "pricing": {
                    "default_human": 10.0,
                    "default_ai": 50.0,
                    "currency": "usd"
                  },
                  "endpoints": {
                    "lookup": "https://api.opedd.com/lookup-article",
                    "purchase": "https://api.opedd.com/agent-purchase",
                    "verify": "https://api.opedd.com/api?action=verify",
                    "registry": "https://api.opedd.com/registry"
                  },
                  "agent_instructions": "Use the lookup endpoint to check if a specific article is licensable. Then call agent-purchase with a Stripe payment method or a USDC transaction hash to get a license key immediately."
                }
              }
            }
          }
        }
      }
    },
    "/certificate": {
      "get": {
        "operationId": "getCertificate",
        "tags": [
          "Licenses"
        ],
        "summary": "Download certificate (PDF)",
        "description": "Download a beautifully formatted PDF license certificate for any valid license key. **Public \u2014 no API key required.**\n\nThe certificate includes the license key, article title, publisher name, licensee details, license type, amount paid, and issuance date. It's designed to be attached to legal agreements or stored in a compliance archive.\n\n```bash\n# Download to a file\ncurl \"https://api.opedd.com/certificate?key=OP-A1B2-C3D4\" \\\n  --output license-certificate.pdf\n```",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LicenseKey"
            },
            "description": "License key in `OP-XXXX-XXXX` format."
          }
        ],
        "responses": {
          "200": {
            "description": "PDF certificate",
            "content": {
              "application/pdf": {}
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/invoice": {
      "get": {
        "operationId": "getInvoice",
        "tags": [
          "Licenses"
        ],
        "summary": "Download invoice (PDF)",
        "description": "Download a PDF invoice for a completed license purchase. **Public \u2014 no API key required.**\n\nThe invoice is formatted as a standard A4 document and includes:\n- Bill From (Opedd / publisher) and Bill To (licensee)\n- Issue date and Net-30 due date\n- Archive coverage period\n- A PAID or PENDING badge\n\nUseful for buyers who need to submit a receipt to their finance team or include it in a procurement audit trail.\n\n```bash\ncurl \"https://api.opedd.com/invoice?key=OP-A1B2-C3D4\" \\\n  --output invoice.pdf\n```",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LicenseKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF invoice",
            "content": {
              "application/pdf": {}
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ai-defense-policy": {
      "get": {
        "operationId": "aiDefensePolicy",
        "tags": [
          "Publisher"
        ],
        "summary": "AI crawler policy",
        "description": "Generate a `robots.txt` or `ai.txt` file that blocks AI crawlers from scraping your content without a license. Covers 16 known AI bots including GPTBot, ClaudeBot, Googlebot-Extended, PerplexityBot, and more.\n\n**Why this matters:** Most AI crawlers respect `robots.txt`. By serving this file, you signal that your content is behind Opedd's licensing system \u2014 and provide a path for compliant access via the agent purchase flow.\n\n**How to use it \u2014 step by step:**\n\n1. Find your Publisher ID in your Opedd dashboard under Settings\n2. Fetch the policy from this endpoint\n3. Serve it at `yourdomain.com/robots.txt` (or append it to your existing one)\n\n```bash\n# Fetch and save as robots.txt\ncurl \"https://api.opedd.com/ai-defense-policy?publisher_id=YOUR_ID\" \\\n  > robots.txt\n```\n\nFor Next.js or similar, you can return it dynamically:\n\n```js\n// pages/robots.txt.js or app/robots.ts\nexport async function GET() {\n  const res = await fetch(\n    `https://api.opedd.com/ai-defense-policy?publisher_id=${process.env.OPEDD_PUBLISHER_ID}`\n  )\n  const text = await res.text()\n  return new Response(text, { headers: { 'Content-Type': 'text/plain' } })\n}\n```",
        "parameters": [
          {
            "name": "publisher_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Your publisher UUID. Find it in Settings \u2192 API in your dashboard."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "robots",
                "ai"
              ],
              "default": "robots"
            },
            "description": "`robots` returns standard `robots.txt` format. `ai` returns `ai.txt` format for platforms that support it."
          }
        ],
        "responses": {
          "200": {
            "description": "Crawler policy file",
            "content": {
              "text/plain": {
                "example": "User-agent: GPTBot\nDisallow: /\n\nUser-agent: ClaudeBot\nDisallow: /\n\nUser-agent: PerplexityBot\nDisallow: /\n\n# This site's content is licensed via Opedd.\n# To access content programmatically, visit: https://opedd.com"
              }
            }
          }
        }
      }
    },
    "/resend-licenses": {
      "post": {
        "operationId": "resendLicenses",
        "tags": [
          "Licenses"
        ],
        "summary": "Resend license keys by email",
        "description": "Re-send all license keys associated with an email address in a single consolidated email. No authentication required \u2014 anyone can trigger a resend for their own email.\n\nThis is useful when a buyer has lost their license email or needs to forward it to a colleague. The email contains a table of all licenses associated with that address, with key, article title, type, and a verify link for each.\n\n> \ud83d\udd12 To prevent abuse, this endpoint is rate limited to **3 requests per email address per hour**. The response is always the same regardless of whether the email is found \u2014 this prevents email enumeration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to resend licenses to."
                  }
                }
              },
              "example": {
                "email": "buyer@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request accepted \u2014 if licenses exist for this email, they've been sent",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "sent": true,
                    "count": 3
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/content-delivery": {
      "get": {
        "summary": "Stream licensed article content",
        "description": "Returns article content for a licensed buyer. Accepts three token types:\n\n- `eat_sandbox_` \u2014 Truncated content (first 500 chars). Free, no payment required.\n- `eat_` \u2014 Full content via enterprise license. Validates publisher coverage.\n- `bk_live_` \u2014 Full content via individual/archive license.\n\nResponse includes provenance metadata (license key, blockchain proof, verification URL).\n\nRate limit: 200 req/min per token.",
        "tags": [
          "Content Delivery"
        ],
        "parameters": [
          {
            "name": "article_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`Bearer eat_sandbox_xxx`, `Bearer eat_xxx`, or `Bearer bk_live_xxx`"
          }
        ],
        "responses": {
          "200": {
            "description": "Article content with provenance metadata",
            "content": {
              "application/json": {
                "examples": {
                  "sandbox": {
                    "summary": "Sandbox response (truncated)",
                    "value": {
                      "success": true,
                      "data": {
                        "article_id": "uuid",
                        "title": "Market Analysis Q1",
                        "source_url": "https://financeweekly.com/market-q1",
                        "content": "First 500 characters of the article...\n\n[... Content truncated \u2014 purchase an enterprise license for full access ...]",
                        "sandbox": true,
                        "content_truncated": true,
                        "full_content_length": 4500,
                        "license_type": "sandbox"
                      }
                    }
                  },
                  "enterprise": {
                    "summary": "Enterprise response (full content)",
                    "value": {
                      "success": true,
                      "data": {
                        "article_id": "uuid",
                        "title": "Market Analysis Q1",
                        "content": "<full HTML content>",
                        "content_available": true,
                        "license_type": "enterprise",
                        "provenance": {
                          "license_id": "eak_xxx",
                          "usage_rights": "Enterprise License \u2014 Licensed via Opedd Protocol",
                          "protocol": "opedd",
                          "protocol_version": "1.0"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          },
          "403": {
            "description": "License does not cover this article, or publisher has disabled content delivery"
          },
          "404": {
            "description": "Article not found"
          },
          "429": {
            "description": "Rate limit exceeded (200 req/min per token)"
          }
        }
      }
    },
    "/enterprise-license": {
      "post": {
        "summary": "Create enterprise license subscription",
        "description": "Purchase bulk catalog access covering one or more publishers. Creates a Stripe subscription (annual or monthly) and returns a `client_secret` for payment completion via Stripe.js.\n\nAfter payment, the license is activated automatically: an `eak_` access key is emailed to the buyer, Stripe Connect transfers fire to publishers, and the license appears in the enterprise content feed.\n\n**Billing types:**\n- `annual` (default): Yearly subscription for archive + forward feed bundled\n- `monthly`: Monthly subscription at `ai_annual_price / 12` per publisher (forward feed only)\n- `annual_plus_monthly`: Annual archive upfront + separate monthly forward feed subscription",
        "tags": [
          "Enterprise"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["buyer_email"],
                "properties": {
                  "publisher_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Publisher IDs to license (required for `custom` scope, max 500)"
                  },
                  "buyer_email": {
                    "type": "string",
                    "format": "email",
                    "example": "eng@yourlab.com"
                  },
                  "buyer_name": {
                    "type": "string"
                  },
                  "buyer_org": {
                    "type": "string",
                    "example": "Your AI Lab"
                  },
                  "billing_type": {
                    "type": "string",
                    "enum": ["annual", "monthly", "annual_plus_monthly"],
                    "default": "annual",
                    "description": "`annual` = archive + forward bundled yearly. `monthly` = forward feed only at annual/12. `annual_plus_monthly` = both."
                  },
                  "license_tier": {
                    "type": "string",
                    "enum": ["rag", "training", "inference", "full_ai"],
                    "default": "rag",
                    "description": "AI use case tier. Publishers must have opted into this tier."
                  },
                  "scope": {
                    "type": "string",
                    "enum": ["custom", "platform_wide"],
                    "default": "custom",
                    "description": "`custom` = specific publisher_ids. `platform_wide` = all opted-in publishers (requires pre-negotiated total_amount_cents)."
                  },
                  "duration_months": {
                    "type": "integer",
                    "default": 12,
                    "minimum": 1,
                    "maximum": 36
                  },
                  "buyer_webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Receive `content.published` webhooks when covered publishers post new articles"
                  },
                  "total_amount_cents": {
                    "type": "integer",
                    "description": "Required for `platform_wide` scope (pre-negotiated flat fee in cents)"
                  }
                }
              },
              "example": {
                "publisher_ids": ["c3fb155f-340f-4595-88c2-0fe93b969c38"],
                "buyer_email": "eng@yourlab.com",
                "buyer_org": "Your AI Lab",
                "billing_type": "annual",
                "license_tier": "rag",
                "duration_months": 12
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripe subscription created. Complete payment using the `client_secret` with Stripe.js.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "license_id": "uuid",
                    "client_secret": "pi_xxx_secret_xxx",
                    "subscription_id": "sub_xxx",
                    "billing_type": "annual",
                    "billing_interval": "year",
                    "license_tier": "rag",
                    "total_amount_cents": 800000,
                    "duration_months": 12,
                    "auto_renews": true,
                    "valid_from": "2026-03-27T00:00:00Z",
                    "valid_until": "2027-03-27T00:00:00Z",
                    "breakdown": [
                      {
                        "publisher_id": "uuid",
                        "publisher_name": "FinanceWeekly",
                        "amount_cents": 800000,
                        "annual_amount_cents": 800000,
                        "monthly_amount_cents": 66667
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "404": {
            "description": "One or more publishers not found"
          },
          "422": {
            "description": "No publishers opted into the requested license tier"
          },
          "502": {
            "description": "Stripe API error"
          }
        }
      },
      "get": {
        "summary": "Paginated content feed for enterprise buyers",
        "description": "Returns articles with full content from licensed publishers. Supports cursor-based pagination (pass next_cursor from previous response). Rate limit: 360 req/min.",
        "tags": [
          "Enterprise"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Enterprise access key (ent_xxx)"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp cursor from previous response"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated article feed with content"
          },
          "401": {
            "description": "Invalid access key"
          },
          "429": {
            "description": "Rate limit exceeded (360 req/min)"
          }
        }
      }
    },
    "/enterprise-auth": {
      "post": {
        "summary": "Authenticate or create sandbox token",
        "description": "Two modes:\n\n**Sandbox (free evaluation):** Send `action: \"create_sandbox\"` with `buyer_email` and optional `buyer_org`. Returns an `eat_sandbox_` token for browsing the catalog and previewing truncated content. No payment required. Rate limit: 3/day per email.\n\n**Production auth:** Send `access_key` (eak_) and `buyer_email` to exchange for a bearer token (`eat_`). Token valid for 30 days, renewable. Rate limit: 5/hr per access_key.",
        "tags": [
          "Enterprise"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Sandbox request",
                    "required": ["action", "buyer_email"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["create_sandbox"],
                        "description": "Must be `create_sandbox`"
                      },
                      "buyer_email": {
                        "type": "string",
                        "format": "email",
                        "example": "eng@yourlab.com"
                      },
                      "buyer_org": {
                        "type": "string",
                        "example": "Your AI Lab"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Production auth request",
                    "required": ["access_key", "buyer_email"],
                    "properties": {
                      "access_key": {
                        "type": "string",
                        "description": "Enterprise access key (eak_xxx)",
                        "example": "eak_abc123..."
                      },
                      "buyer_email": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sandbox: returns `eat_sandbox_` token. Production: returns `eat_` bearer token + publisher list.",
            "content": {
              "application/json": {
                "examples": {
                  "sandbox": {
                    "summary": "Sandbox token response",
                    "value": {
                      "success": true,
                      "data": {
                        "sandbox_token": "eat_sandbox_abc123...",
                        "mode": "sandbox",
                        "expires_at": "2026-04-26T00:00:00Z",
                        "capabilities": {
                          "publisher_directory": "Full access",
                          "content_delivery": "Truncated (500 chars)",
                          "purchase": "Not available in sandbox"
                        }
                      }
                    }
                  },
                  "production": {
                    "summary": "Production token response",
                    "value": {
                      "success": true,
                      "data": {
                        "token": "eat_abc123...",
                        "expires_at": "2026-04-26T00:00:00Z",
                        "publisher_ids": ["uuid-1", "uuid-2"],
                        "valid_until": "2027-03-26T00:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid access key"
          },
          "403": {
            "description": "License inactive, expired, or email mismatch"
          },
          "429": {
            "description": "Rate limit exceeded (5/hr auth, 3/day sandbox)"
          }
        }
      }
    },
    "/verify-license": {
      "get": {
        "summary": "Verify a license key (public)",
        "description": "Check if a license key is valid and get full metadata including buyer info (masked), article, publisher, blockchain proof. Public \u2014 no auth required.",
        "tags": [
          "Licenses"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "License key (OP-XXXX-XXXX format)"
          }
        ],
        "responses": {
          "200": {
            "description": "License details with proof metadata"
          },
          "404": {
            "description": "License not found"
          }
        }
      }
    },
    "/publisher-directory": {
      "get": {
        "summary": "Browse publisher catalog (public)",
        "description": "Returns publishers with article counts, pricing, and sample articles. This is the primary endpoint for AI labs to discover available content.\n\nPricing includes `ai_annual` (yearly catalog price set by publisher) and `forward_feed_monthly` (auto-derived as `ai_annual / 12`).\n\nNo authentication required.",
        "tags": [
          "Enterprise"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category (case-insensitive substring match)",
            "example": "finance"
          },
          {
            "name": "min_articles",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Minimum licensable article count"
          },
          {
            "name": "verified",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "false",
              "enum": ["true", "false"]
            },
            "description": "Filter to verified publishers only (default: false = show all)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated publisher list with pricing and sample articles",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "publishers": [
                      {
                        "id": "uuid",
                        "name": "FinanceWeekly",
                        "website_url": "https://financeweekly.com",
                        "category": "Finance",
                        "article_count": 450,
                        "pricing": {
                          "human_per_article": 5,
                          "ai_per_article": 25,
                          "ai_annual": 12000,
                          "forward_feed_monthly": 1000
                        },
                        "sample_articles": [
                          {"title": "Market Analysis Q1", "url": "https://...", "published_at": "2026-03-15"}
                        ]
                      }
                    ],
                    "total": 1,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "System health check",
        "description": "Returns operational status of all services: database, Stripe, email, blockchain (Base mainnet).",
        "tags": [
          "Publisher"
        ],
        "responses": {
          "200": {
            "description": "System status with per-service health"
          }
        }
      }
    },
    "/platform-connect": {
      "post": {
        "summary": "Connect a publishing platform",
        "description": "Validate platform credentials and start an archive import. Supports Beehiiv (API key), Ghost (Admin API key), and WordPress (Application Password). Sets verification_status=verified for API-credentialed platforms.",
        "tags": [
          "Publisher"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Publication URL"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "beehiiv",
                      "ghost",
                      "wordpress",
                      "substack",
                      "custom"
                    ]
                  },
                  "credentials": {
                    "type": "object",
                    "description": "Platform-specific credentials (api_key, pub_id, admin_api_key, username, app_password)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection successful, archive job queued"
          },
          "422": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/backfill-content": {
      "post": {
        "summary": "Backfill article content bodies",
        "description": "Scrapes source_url for articles missing content_body. Paywall-aware: Substack/Beehiiv/Medium paywalled articles are flagged as paywall_detected and wait for inbound email.",
        "tags": [
          "Publisher"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publisher_id": {
                    "type": "string",
                    "description": "Target publisher (admin only)"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 200,
                    "maximum": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backfill results: backfilled, paywall_detected, failed counts"
          }
        }
      }
    },
    "/contact-publisher": {
      "post": {
        "summary": "Send inquiry to publisher",
        "description": "Send a licensing inquiry email to a publisher's contact email. Rate limited to 3/hr per buyer email.",
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publisher_id": {
                    "type": "string"
                  },
                  "buyer_email": {
                    "type": "string"
                  },
                  "buyer_name": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inquiry sent"
          },
          "404": {
            "description": "Publisher has no contact email configured"
          }
        }
      }
    },
    "/buyer-portal": {
      "post": {
        "summary": "Buyer license portal (OTP auth)",
        "description": "Buyers can look up their licenses by email. Actions: send_otp, verify_otp (returns licenses), create_token (buyer access token), list_tokens, revoke_token.",
        "tags": [
          "Licenses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "send_otp",
                      "verify_otp",
                      "create_token",
                      "list_tokens",
                      "revoke_token"
                    ]
                  },
                  "email": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "license_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result"
          },
          "401": {
            "description": "Invalid OTP"
          }
        }
      }
    },
    "/revoke-license": {
      "post": {
        "summary": "Revoke a license (publisher)",
        "description": "Publisher revokes a license key. Marks transaction as revoked, sends notification to buyer, revokes buyer tokens.",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "license_key": {
                    "type": "string",
                    "description": "OP-XXXX-XXXX format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License revoked"
          },
          "404": {
            "description": "License not found"
          }
        }
      }
    },
    "/refund-license": {
      "post": {
        "summary": "Refund a license (publisher)",
        "description": "Initiates a Stripe refund for a license. Revokes the license and sends refund confirmation emails to both buyer and publisher.",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "license_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund initiated"
          },
          "404": {
            "description": "License not found"
          }
        }
      }
    }
  }
}
